<div class="container mt-3">
  <div class="d-flex gap-2">
    <h4>Viewing Students and Classes</h4>
  <button mat-flat-button color="primary" class="icon-link-hover mb-3" routerLink="/all-students">Return to Students page</button>
  </div>
  @if (loading) {
    <p>Loading results...</p>
  } @else {
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Student</th>
          <th>Classes</th>
        </tr>
      </thead>
      <tbody>
        @for(clsPerStudent of classesPerStudent; track clsPerStudent.username) {
          <tr>
          <td>{{clsPerStudent.username}}</td>
          <td>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Name of Class</th>
                <th>Hours</th>
                <th>Ects</th>
              </tr>
            </thead>
            <tbody>
              @for(clss of clsPerStudent.classes; track clss.class) {
                <tr>
                  <td>{{ clss.class }}</td>
                  <td>{{ clss.hours }}</td>
                  <td>{{ clss.ects }}</td>
                  <td>
                    <mat-icon (click)="deleteClassFromStudent(clsPerStudent.username, clss)" role="button" class="text-danger">delete</mat-icon>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </td>
        </tr>
        }
      </tbody>
    </table>
  }
</div>
